*,*:after,*:before{
	-webkit-box-shadow: border-box;
	-moz-box-shadow: border-box;
	-ms-box-shadow: border-box;
	box-shadow: border-box;
}
body{
	margin:0;
}


.countdown{
	font-size: 130px;
	text-align: center;
	font-weight: 700;
}
.countdown span{
	min-width: 150px;
	display: inline-block;
	
}

.text-center{
	text-align: center;
}
button{
	padding:12px 25px;
	font-size: 18px;
}